@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
nav {
  height: 80px;
  display: flex;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 24px;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
.logo__img {
  padding-right: 8px;
}
h2 {
  font-size: 32px;
}
h1 {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}
p {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.signup {
  color: white;
  background-color: blueviolet;
  border-radius: 100px;
  padding: 10px 20px;
}
.signup:hover {
  text-decoration: none;
  background-color: rgb(87, 0, 128);
}
.purple__text {
  color: rgb(87, 0, 128);
}
.section__title--upper {
  font-size: 24px;
  font-weight: bold;
  color: rgb(87, 0, 128);
}
.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: rgb(87, 0, 128);
  display: none;
}
.menu__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}
.menu--open {
  height: 100vh;
  overflow-y: hidden;
}
.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__link {
  color: black;
  font-size: 40px;
}
.menu__list {
  padding: 16px 0;
}
.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: rgb(87, 0, 128);
}
/* HEADER */

.header__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding-top: 96px;
}
.header__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}
.header__img--wrapper {
  width: 60%;
}
.header__search--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50px;
  padding: 8px;
  height: 56px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.header__search--wrapper:hover {
  border: 1px solid rgb(87, 0, 128);
}
.header__text--input {
  border: none;
  margin-right: 24px;
  height: 100%;
  font-size: 24px;
  outline: none;
  opacity: 0.4;
}

.btn {
  padding: 8px 24px;
  border-radius: 50px;
  background-color: blueviolet;
  height: 48px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.trusted__customers--title {
  font-size: 16px;
  color: rgb(63, 108, 255);
  opacity: 0.6;
  font-weight: bold;
}

/* SERVICES */

#services {
  margin-top: 10%;
}
.section__title {
  text-align: center;
}
.section__para {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
}
.container {
  padding: 80px 0;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.services {
  display: flex;
  flex-wrap: wrap;
}
.service {
  display: flex;
  width: calc(100% / 3);
  padding: 40px;
}
.service__description {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}
.service__icon {
  width: 30%;
  padding-bottom: 96px;
  padding-right: 16px;
}
.service__title {
  font-size: 24px;
}
.service__para {
  font-size: 20px;
  line-height: 2;
}
.features {
  text-align: center;
}

/* PROFESSIONALS */

.professionals__container {
  display: flex;
  align-items: center;
  height: 50vh;
}
.professionals__description--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.professionals__img--container {
  width: 50%;
  margin-bottom: 10%;
}
.professionals__img {
  display: flex;
}
.professionals__para {
  margin-top: 0;
  font-size: 24px;
}
.professionals__title {
  margin-top: 0;
}

/* GET STARTED */

.started__container {
  display: flex;
  height: 50vh;
}
.started__img {
  width: 50%;
  margin-top: 96px;
  margin-right: 48px;
}
.started__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: 50%;
}
.started__description--list {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.started__description--numbers {
  display: flex;
  margin: 8px 0;
}
.started__number {
  opacity: 0.2;
  font-size: 56px;
}
.started__description--para {
  margin: 0;
  font-size: 20px;
  padding: 8px 0;
  line-height: 1.5;
}
.started__description--main {
  margin: 0 24px;
}

/* PRINCIPLES */

.principles__container {
  display: flex;
  height: 50vh;
}
.principles__description--container {
  width: 50%;
}
.principles__description--features {
  display: flex;
}
.principles__description--para {
  padding-right: 8px;
}
.principles__img--container {
  margin-top: 16px;
  width: 50%;
  display: flex;
}
.principles__feature--title {
  font-size: 24px;
  padding-left: 16px;
}
.principles__description--title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* PRICING */

.pricing__upper--text {
  text-align: center;
  padding: 0 96px;
}
.plans {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  justify-content: center;
}
.plan {
  border-top: 8px solid rgb(64, 102, 255);
  border-radius: 8px;
  background-color: rgb(64, 102, 255);
  width: calc(90% / 3);
  display: flex;
  flex-direction: column;
  margin: 8px;
  text-align: center;
  padding-top: 24px;
  align-items: center;
}
.personal__plan {
  border-top: 8px solid aqua;
  background-color: white;
}
.business__plan {
  color: white;
}
.enterprise__plan {
  background-color: white;
  border-top: 8px solid red;
}
.pricing__btn {
  width: 180px;
  height: 52px;
  margin-bottom: 24px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: bold;
  color: purple;
  border: none;
}
.personal__btn {
  color: white;
  background-color: aqua;
}
.enterprise__btn {
  background-color: red;
  color: white;
}
.plan__title {
  font-size: 24px;
}

/* TESTIMONIALS */

.testimonials__container {
  display: flex;
}
.testimonial__pic {
  width: 50%;
  margin: 48px;
  display: flex;
}
.testimonial__info--container {
  width: 50%;
  margin: 48px;
  display: flex;
  flex-direction: column;
}
.testimonial__person--container {
  display: flex;
  align-items: center;
}
.charlotte__img {
  height: 100px;
  border-radius: 80px;
}
.testimonial__person--name {
  margin-top: 12px;
  margin-left: 24px;
}
.charlotte__hale {
  font-size: 24px;
  margin-bottom: -12px;
}
.testimonial__arrows {
  display: flex;
  color: rgb(87, 0, 128);
}
.fa-left-right{
  margin-left: 96px;
  font-size: 32px;
}
.user__experience {
  margin-top: 24px;
  font-size: 24px;
}

.btn__switch {
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  border: none;
  width: 20%;
}
.btn__switch:hover {
  cursor: pointer;
}

.user__experience--2 {
  font-size: 24px;
  margin-top: 24px;
}
/* FAQS */

.faq__title--section {
  text-align: center;
}
.faq__para {
  margin-left: 25%;
  margin-right: 25%;
}
.faq__list {
  display: flex;
  flex-direction: column;
}
.faq__list--container {
  display: flex;
  justify-content: center;
}
.faq__list--btn {
  width: 861px;
  padding: 36px;
  display: flex;
  align-items: center;
  border: none;
}
.faq__list--text {
  font-size: 24px;
}
.angle__down {
  margin-left: auto;
}
.faq__drop--text {
  font-size: 20px;
  margin: 0 36px;
}
/* PURPLE BOX */

.purple__box--container {
  background-color: rgb(87, 0, 128);
  border-radius: 8px;
  display: flex;
  width: 100%;
  height: 24vh;
}
.purple__box--items {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.purple__box--description {
  color: white;
  width: 50%;
  margin-left: 5%;
}
.purple__btn--container {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.purple__box--btn {
  border-radius: 60px;
  width: 180px;
  padding: 24px;
  margin: 0 24px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.started__btn {
  background-color: red;
}
.contact__btn {
  background-color: rgb(87, 0, 128);
  border: 1px solid white;
}

/*
FOOTER
*/

#footer {
  background-color: rgb(87, 0, 128);
}
.footer__link {
  color: white;
}
.links {
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: wrap;
}
.links__container {
  display: flex;
  justify-content: space-around;
}
.link {
  padding-top: 16px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__logo {
  display: flex;
}
.footer__logo--img {
  height: 60px;
}
.footer__logo--container {
  display: flex;
  align-items: center;
}
.logo__text {
  padding-left: 16px;
  color: white;
  font-size: 24px;
}
.footer__text {
  color: white;
}
.footer__social--btn {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-left: 16px;
}
.footer__social {
  display: flex;
}

/* SMALL SCREENS */

@media (max-width: 1000px) {
  .nav__links {
    display: none;
  }
  .btn__menu {
    display: block;
  }
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service {
    width: calc(100% / 2);
  }
  .professionals__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
  }
  .started__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 96px;
  }
  .principles__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
  }
  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
  }
  .testimonials__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .professionals__description--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .professionals__img--container {
    width: 100%;
  }
  .started__description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .started__img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .principles__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .principles__description--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .principles__description--features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .principles__description--title {
    display: flex;
    justify-content: center;
  }
  .testimonial__info--container {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .testimonial__person--container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .plan {
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .plans {
    margin-top: 96px;
  }
  .faq__list--btn {
    width: 100%;
  }
  .angle__down {
    display: none;
  }
}
